{% extends 'shop/base.html' %}
{% block title %}درباره ما{% endblock %}
{% block body_class %}about-page{% endblock %}
{% block content %}

<!-- محتوای اصلی صفحه درباره ما -->
<div class="special-main-content">
    <section class="about-section">
        
        <!-- عنوان اصلی صفحه -->
        <h1 class="page-title">درباره فروشگاه کتاب موکا</h1>
        <p>فروشگاه کتاب موکا با هدف ارائه بهترین و جدیدترین کتاب‌ها به علاقه‌مندان به مطالعه تأسیس شده است. ما تلاش می‌کنیم تا با ارائه مجموعه‌ای گسترده از کتاب‌ها در زمینه‌های مختلف، تجربه‌ای لذت‌بخش از خرید کتاب را برای شما فراهم کنیم.</p>
         
        <h2 class="section-subtitle">ماموریت ما</h2>
        <ul>
            <li>ارائه کتاب‌های متنوع با قیمت مناسب</li>
            <li>پشتیبانی از  نویسندگان مستقل</li>
            <li>ایجاد جامعه‌ای از کتاب‌خوان‌ها</li>
        </ul>
        
        <!-- معرفی تیم -->
        <h2 class="section-subtitle">تیم ما</h2>
        <p>تیم ما متشکل از افرادی است که به کتاب و فرهنگ مطالعه علاقه‌مند هستند. برای آشنایی بیشتر با اعضای تیم:</p>
        <a href="{% url 'team' %}" class="btn btn-outline-info">مشاهده صفحه تیم ما</a>
    </section>
</div>

{% endblock %}



