{% extends 'shop/base.html' %}
{% block title %}فراموشی رمز عبور{% endblock %}
{% block body_class %}reset-page{% endblock %}
{% block content %}

<!-- صفحه فراموشی رمز عبور -->
<div class="special-main-content">
  <div class="reset-page">
    <div class="reset-wrapper">
      <!-- عنوان صفحه -->
      <h1 class="page-title center">فراموشی رمز عبور</h1>
      <p>لطفاً ایمیل خود را وارد کنید تا لینک بازیابی رمز برایتان ارسال شود.</p>
      
      <!-- فرم ارسال ایمیل بازیابی -->
      <form method="POST">
        {% csrf_token %}
        {{ form.email.label_tag }}
        {{ form.email }}
        
        <!-- نمایش خطای ایمیل در صورت وجود -->
        {% if form.email.errors %}
        <div class="text-danger">{{ form.email.errors.0 }}</div>
        {% endif %}
        <button type="submit" class="btn btn-primary mt-3">ارسال لینک بازیابی</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}





