{% extends 'shop/base.html' %}
{% block title %}سیاست حفظ حریم خصوصی{% endblock %}
{% block body_class %}privacy-page{% endblock %}
{% block content %}

<!-- صفحه سیاست حفظ حریم خصوصی -->
<div class="special-main-content">
  <section class="privacy-section">
    <!-- عنوان صفحه -->
    <h1 class="page-title">سیاست حفظ حریم خصوصی</h1>
    <p>ما متعهد هستیم که اطلاعات شخصی کاربران را با امنیت کامل  نگهداری کنیم و از آن‌ها فقط در چارچوب خدمات سایت استفاده کنیم.</p>
    
    <h2 class="section-subtitle">چه اطلاعاتی جمع‌آوری می‌کنیم؟</h2>
    <ul>
      <li>نام و ایمیل هنگام ثبت‌نام یا ارسال پیام</li>
      <li>اطلاعات مربوط به سفارش‌ها</li>
      <li>کوکی‌ها برای بهبود تجربه کاربری</li>
    </ul>
    
    <h2 class="section-subtitle">چگونه از اطلاعات شما استفاده می‌کنیم؟</h2>
    <p>اطلاعات شما فقط برای موارد زیر استفاده می‌شود:</p>
    <ul>
      <li>ارسال تأییدیه سفارش و اطلاعات مربوط به آن</li>  
      <li>پاسخ به سوالات و درخواست‌های شما</li>
      <li>بهبود خدمات و تجربه کاربری</li>
    </ul>   
    <p class="privacy-warning">ما هرگز اطلاعات شما را به شخص ثالث نمی‌فروشیم یا اجازه دسترسی نمی‌دهیم.</p>
    <p>اگر تمایل به کسب اطلاعات دقیق‌تری در این زمینه و یا همکاری با ما را دارید و می‌خواهید از حقوق خود مطلع شوید، می‌توانید از این طریق با ما در ارتباط باشید :</p>
    
    <!-- دکمه ارتباط با ما -->
    <div class="d-flex gap-3 flex-wrap mt-4 justify-content-start">
      <a href="{% url 'contact' %}" class="btn btn-outline-info">ارتباط با ما</a>
    </div>
  </section>
</div>

{% endblock %}



