{% extends 'shop/base.html' %}
{% block title %}ثبت‌نام{% endblock %}
{% block body_class %}signup-page{% endblock %}
{% block content %}

<!-- صفحه ثبت‌نام -->
<div class="signup-page">
  <div class="signup-wrapper">
    <!-- عنوان صفحه -->
    <h1 class="page-title center">ثبت‌نام</h1>
    
    <!-- نمایش پیام‌های سیستمی -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    {% endif %}
    
    <!-- فرم ثبت‌نام -->
    <form method="POST" class="book-form">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">        <!-- لیبل فیلد با علامت ستاره برای فیلدهای ضروری -->
          {{ field.label }}{% if field.field.required %}<span class="text-danger">*</span>{% endif %}
        </label>
        {{ field }}      <!-- فیلد ورودی -->
        {% if field.errors %}      <!-- نمایش خطاهای فیلد -->
        <div class="text-danger">{{ field.errors.0 }}</div>
        {% endif %}
      </div>
      {% endfor %}
      
      <!-- دکمه ثبت‌نام -->
      <button type="submit" class="btn btn-primary">ثبت‌نام</button>
    </form>
    
    <div class="form-footer text-center mt-2">
      <a href="{% url 'login' %}" class="btn btn-outline-secondary btn-back btn-bold">قبلاً ثبت‌نام کرده‌ام</a>
    </div>
  </div>
</div>

{% endblock %}


